---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <img src='{{page.img | prepend: site.baseurl }}' style="max-width: 50%; height: auto"/>
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

        <!-- Home Post List -->
        {% comment %} {% for post in site.posts limit : 5 %}

        <article class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            <h2 class="post-title">{{ post.title }}</h2>
            {% if post.subtitle %}
            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
            {% else %}
            <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
            {% endif %}
          </a>
          <p class="post-meta">Posted by
            {% if post.author %}
            {{ post.author }}
            {% else %}
            {{ site.author }}
            {% endif %}
            on
            {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}            
          </p>
        </article>

        <hr>

        {% endfor %} {% endcomment %}

<div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseZero" aria-expanded="true" aria-controls="collapseZero" style='color: #C13524'>
            <i class="fas fa-chevron-circle-down"></i> Dev Diary: Weekly Insights
          </button>
        </h2>
      </div>

      <div id="collapseZero" class="collapse" aria-labelledby="headingZero" data-parent="#accordionExample">
        <div class="card-body">
          {% for post in site.categories["diary"] %}
            <div class="post-preview">
                <a href="{{ post.url | prepend: site.baseurl }}">
                    <h2 class="post-title">
                        {{ post.title }}
                    </h2>
                    {% if post.subtitle %}
                    <h3 class="post-subtitle">
                        {{ post.subtitle }}
                    </h3>
                    {% endif %}
                </a>
                <p class="post-meta">Posted by
              {% if post.author %}
              {{ post.author }}
              {% else %}
              {{ site.author }}
              {% endif %}
              on
              {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}            
            </p>
            </div>
        {% endfor %}
        </div>
      </div>
    </div>
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style='color: #C13524'>
          <i class="fas fa-chevron-circle-down"></i> Challenges
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        {% for post in site.categories["challenge"] %}
          <div class="post-preview">
              <a href="{{ post.url | prepend: site.baseurl }}">
                  <h2 class="post-title">
                      {{ post.title }}
                  </h2>
                  {% if post.subtitle %}
                  <h3 class="post-subtitle">
                      {{ post.subtitle }}
                  </h3>
                  {% endif %}
              </a>
              <p class="post-meta">Posted by
            {% if post.author %}
            {{ post.author }}
            {% else %}
            {{ site.author }}
            {% endif %}
            on
            {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}            
          </p>
          </div>
      {% endfor %}
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style='color: #C13524'>
          <i class="fas fa-chevron-circle-down"></i> Projects
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        {% for post in site.categories["project"] %}
          <div class="post-preview">
              <a href="{{ post.url | prepend: site.baseurl }}">
                  <h2 class="post-title">
                      {{ post.title }}
                  </h2>
                  {% if post.subtitle %}
                  <h3 class="post-subtitle">
                      {{ post.subtitle }}
                  </h3>
                  {% endif %}
              </a>
              <p class="post-meta">Posted by
            {% if post.author %}
            {{ post.author }}
            {% else %}
            {{ site.author }}
            {% endif %}
            on
            {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}            
          </p>
          </div>
      {% endfor %}
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style='color: #C13524'>
          <i class="fas fa-chevron-circle-down"></i> Technology
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        {% for post in site.categories["tech"] %}
          <div class="post-preview">
              <a href="{{ post.url | prepend: site.baseurl }}">
                  <h2 class="post-title">
                      {{ post.title }}
                  </h2>
                  {% if post.subtitle %}
                  <h3 class="post-subtitle">
                      {{ post.subtitle }}
                  </h3>
                  {% endif %}
              </a>
              <p class="post-meta">Posted by
            {% if post.author %}
            {{ post.author }}
            {% else %}
            {{ site.author }}
            {% endif %}
            on
            {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}            
          </p>
          </div>
      {% endfor %}
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFour">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" style='color: #C13524'>
          <i class="fas fa-chevron-circle-down"></i> Personal
        </button>
      </h2>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">
        {% for post in site.categories["personal"] %}
          <div class="post-preview">
              <a href="{{ post.url | prepend: site.baseurl }}">
                  <h2 class="post-title">
                      {{ post.title }}
                  </h2>
                  {% if post.subtitle %}
                  <h3 class="post-subtitle">
                      {{ post.subtitle }}
                  </h3>
                  {% endif %}
              </a>
              <p class="post-meta">Posted by
            {% if post.author %}
            {{ post.author }}
            {% else %}
            {{ site.author }}
            {% endif %}
            on
            {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}            
          </p>
          </div>
      {% endfor %}
      </div>
    </div>
  </div>
</div>

 <!-- Pager -->
<div class="clearfix">
  <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
</div>